:root{
	--primary: #00796B;
	--secondary: #B2DFDB;
}
html,
body{
	margin: 0;
	border: none;
	padding: 0;
	font-family: sans-serif;
	width: 100vw;
	height: 100vh;
}
body{
	display: flex;
	flex-direction: column;
}
body > *{
	flex: 0 0 auto;
	display: block;
	padding: 0 5vw;
	width: calc(100vw - 2 * 5vw);
	color: #fff;
	background-color: var(--primary);)
}
body > header{
	font-size: 1.2rem;
}
/*Alignment might be disturbed by margins or paddings of objects in the header*/
body > header > *{
	padding: initial 0;
	margin: initial 0;
}
header > h1{
	font-size: 3.2rem;
	letter-spacing: .2rem;
	margin-bottom: 0;
	padding-bottom: 0;
}
/*Footer contains multiple entries which should be spread over the width of the whole page*/
body > footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
body > footer *{
	display: inline;
	padding; 0;
}
/*main content keeps its white background but has same space to the side as header and footer*/
main{
	padding: 0 5vw;
	flex: 1 1 auto;
	background-color: #fff;
	color: #000;
}
ul.selection_row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 0;
	padding: 0 0;
}
ul.selection_row li{
	display: inline;
	padding: 0 5px;
	margin: 0 1vw;
	border: 2px solid var(--secondary);
	border-radius: 10px;
	width: 3rem;
	text-align: center;
	cursor: pointer;
}
ul.selection_row li:first-of-type{
	margin-left: 0;
}
ul.selection_row li:last-of-type{
	margin-right: 0;
}
ul.selection_row li:hover{
	background-color: var(--secondary);
}
/*one of these selection variables can be set as active*/
ul.selection_row li.selected{
	color: #fff;
	background-color: var(--primary);
	border-color: var(--primary);
}
/*Make the labels look clickable for the user*/
label,
input{
	cursor: pointer;
}
/*Number input field*/
input[type="number"]{
	outline: none;
	appearance: textfield;
	border: 1px solid var(--primary);
	padding: calc(0.5em + 2px);
	border-radius: 10px;
	cursor: text;
}
input[type="number"]:focus{
	box-shadow: inset 0 0 10px var(--secondary);
}
/*Radio Buttons*/
input[type="radio"]{
	margin: auto 0.5rem auto 1rem;
	box-sizing: border-box;
	height: 1em;
	width: 1em;
	vertical-align: baseline;
	appearance: none;
	color: var(--secondary);)
	background-color: #fff;
	border: 2px solid currentColor;
	border-radius: 50%;
	outline: 2px solid currentColor;
	outline-offset: 3px;
}
input[type="radio"]:hover{
	background-color: currentColor;
}
input[type="radio"]:checked{
	color: var(--primary);
	background-color: currentColor;
}
/*Button*/
input[type="button"]{
	border: 2px solid var(--secondary);
	border-radius: 10px;
	background-color: var(--secondary);
	color: var(--primary);
	padding: calc(0.5em + 2px);
	cursor: pointer;
}
input[type="button"]:hover{
	background-color: var(--primary);
	border-color: var(--primary);
	color: #fff;
}
/*Overwrite browser defaults for hyperlinks*/
a{
	text-decoration-line: none;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
a:link,
a:active,
a:hover{
	color: var(--secondary);
}
